<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>FOO</title>
</head>
<body>

<div ng-controller="MoviesCtrl as movies">

  <table>
    <thead>
    <tr>
      <td><input type="text" ng-model="movieToAdd.title"/></td>
      <td><input type="number" ng-model="movieToAdd.year"/></td>
      <td><button type="button" ng-click="movies.addMovie(movieToAdd); movieToAdd = {}">add</button></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="movie in movies.movieItems track by movie.id">
      <td ng-if="!editing">{{movie.title}}</td>
      <td ng-if="!editing">{{movie.year}}</td>
      <td ng-if="editing"><input type="text" ng-model="movie.title"/></td>
      <td ng-if="editing"><input type="number" ng-model="movie.year"/></td>
      <td>
        <button type="button"
                ng-hide="editing"
                ng-click="editing = !editing">&#x270e;</button>
        <button type="button"
                ng-show="editing"
                ng-click="movies.updateMovie(movie); editing = !editing">gem</button>
        <button type="button"
                ng-show="editing"
                ng-click="movies.delMovie(movie)">del</button>
        <button type="button"
                ng-show="editing"
                ng-click="editing = !editing">&times;</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div ng-controller="MoviesCtrl as movies">

  <table>
    <thead>
    <tr>
      <td><input type="text" ng-model="movieToAdd.title"/></td>
      <td><input type="number" ng-model="movieToAdd.year"/></td>
      <td><button type="button" ng-click="movies.addMovie(movieToAdd); movieToAdd = {}">add</button></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="movie in movies.movieItems track by movie.id">
      <td ng-if="!editing">{{movie.title}}</td>
      <td ng-if="!editing">{{movie.year}}</td>
      <td ng-if="editing"><input type="text" ng-model="movie.title"/></td>
      <td ng-if="editing"><input type="number" ng-model="movie.year"/></td>
      <td>
        <button type="button"
                ng-hide="editing"
                ng-click="editing = !editing">&#x270e;</button>
        <button type="button"
                ng-show="editing"
                ng-click="movies.updateMovie(movie); editing = !editing">gem</button>
        <button type="button"
                ng-show="editing"
                ng-click="movies.delMovie(movie)">del</button>
        <button type="button"
                ng-show="editing"
                ng-click="editing = !editing">&times;</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="bower_components/traceur-runtime/traceur-runtime.js"></script>
<script src="bower_components/es6-module-loader/dist/es6-module-loader.js"></script>
<script src="bower_components/system.js/dist/system.js"></script>
<script src="bower_components/immutable/dist/Immutable.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script>
  System.import('tmp/js/index')
    .then(function (imports) {
      angular.bootstrap(document, [imports.default.name]);
    })
    .catch(console.error.bind(console));
</script>
</body>
</html>
